<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.jeffrey.workbench.preview</string>
  <key>ProgramArguments</key><array><string>/bin/zsh</string><string>-c</string><string>exec env PATH=__NODE_DIR__:/usr/local/bin:/usr/bin:/bin npm run preview</string></array>
  <key>WorkingDirectory</key><string>__REPO__</string>
  <key>EnvironmentVariables</key><dict><key>PATH</key><string>__AGENT_BIN_DIR__:__NODE_DIR__:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string></dict>
  <key>RunAtLoad</key><true/><key>KeepAlive</key><true/><key>ThrottleInterval</key><integer>2</integer>
  <key>StandardOutPath</key><string>__REPO__/data/logs/preview.out.log</string>
  <key>StandardErrorPath</key><string>__REPO__/data/logs/preview.err.log</string>
</dict></plist>
